@media (max-width: 640px) {
  .rs-picker-daterange-calendar-group {
    display: flex;
    flex-direction: column;
    // height: auto;
    min-width: auto;
    height: 300px;
    overflow: auto;
  }

  // .rs-stack {
  //   width: 90vw;
  // }
  .rs-anim-fade.rs-anim-in {
    top: 3vw !important;
  }
}

body {
  overflow: hidden;
}
