@media (max-width: 640px) {
  .rs-picker-daterange-calendar-group {
    display: flex;
    flex-direction: column;
    min-width: auto;
    min-height: 300px;
    height: 60vh;
    overflow: auto;
  }

  .react-datepicker-popper {
    z-index: 5 !important;
  }

  .rs-picker-daterange-menu .rs-calendar:first-child {
    border: none !important;
  }

  .rs-anim-fade.rs-anim-in {
    top: 3vw !important;
    width: 85vw;
  }
}

body {
  overflow: hidden;
}
